#teste {
    background-color: rgba(0, 0, 0, 0.143);
    position: absolute;
    height: 50rem;
    width: 66rem;
  }
  
  #container {
    margin-top: 4rem;
    display: flex;
    width: 25rem;
    height: 40rem;
    justify-content: space-between;
    margin-left: 17rem;
    position: absolute;
  }
  
  #add_product {
    height: 40rem;
    width: 23rem;
    background-color: #ffffff;
    margin-top: 2.8rem;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  #close {
    font-size: 1.5rem;
    position: absolute;
    margin-left: 21rem;
    border: none;
    color: #4f4f4f;
  }
  
  #first_entry {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #form {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #form label {
    margin-right: 5.5rem;
    margin-top: 0.5rem;
  }
  
  #form input {
    width: 7rem;
    margin-right: 0.5rem;
  }
  
  #form2 {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #form2 label {
    margin-right: 3.5rem;
    margin-top: 1rem;
  }
  
  #form2 input {
    margin-right: 0.5rem;
  }
  
  #form_input {
    width: 7rem;
  }
  
  #form3 {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #button_form {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin: 1.5rem 1rem;
  }
  
  #button_form button {
    width: 21rem;
    height: 3rem;
  }
  