#checkout {
    height: 5.3rem;
    display: flex;
    justify-content: space-around;
  }
  
  #buttons {
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border: 1px solid #696969;
  }