#defocus {
    background-color: rgba(0, 0, 0, 0.282);
    width: 100%;
    height: 20rem;
  }
  
  #teste {
    background-color: rgba(0, 0, 0, 0.143);
    position: absolute;
    height: 50rem;
    width: 66rem;
  }
  
  #container {
    margin-top: 6.8rem;
    display: flex;
    width: 50rem;
    height: 30rem;
    justify-content: space-between;
    /* background-color: aqua; */
    margin-left: 4rem;
  }
  
  #container img {
    width: 30rem;
  }
  
  #img_product {
    width: 36rem;
    overflow: hidden;
    margin-top: 8rem;
  }
  
  #img_product img {
    height: 20em;
  }
  
  #add_product {
    height: 27.2rem;
    width: 50%;
    background-color: #ffffff;
    margin-top: 2.8rem;
  }
  
  #close {
    font-size: 1.5rem;
    position: absolute;
    margin-left: 22rem;
    border: none;
    color: #4f4f4f;
  }
  
  #order {
    height: 3.7rem;
    width: 20rem;
    background-color: #ededed;
    margin: 2rem 2rem 0;
    border-radius: 4px;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
  }
  
  #order div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  #order_price span {
    background-color: #d5d5d5;
    border-radius: 3px;
  }
  
  #order_price p {
    margin-top: 2rem;
  }
  
  #order_quantity {
    background-color: #fff;
    height: 14rem;
    width: 20rem;
    margin-left: 2rem;
    margin-top: 2px;
    font-size: 12px;
    overflow: auto;
  }
  
  #oder_quantity table,
  td,
  th {
    border: none !important;
    text-align: center;
  }
  
  #first_button {
    height: 1.1rem;
    width: 1.1rem;
    margin: 3px;
    border-radius: 10px;
    font-size: 10px;
    border: none;
    background-color: #d9d9d9;
  }
  
  #second_button {
    height: 1.1rem;
    width: 1.1rem;
    margin: 3px;
    border-radius: 10px;
    font-size: 10px;
    border: none;
    color: #fff;
    background-color: #e83737;
  }
  
  #total_order {
    height: 2rem;
    width: 18rem;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  #total_order span {
    color: #2c9a44;
  }
  
  #to_add {
    height: 3rem;
    width: 20rem;
    margin-left: 2rem;
  }
  
  #to_add button {
    height: 3rem;
    width: 18rem;
    margin-left: 1rem;
  }
  